body {
  padding-bottom: 20px;
}

p {
  font-size: 16px;
}

#textchat {
    position: relative;
    width: 100%;
    right: 0;
    height: 100%;
    background-color: #fff;
}
#history {
     width: 100%;
     height: calc(100% - 40px);
     overflow: auto;
     max-height: 400px;
     padding-top: 20px;
}
input#msgTxt {
            height: 40px;
            bottom: 0;
            width: 100%;
}
#history .mine {
    color: #999;
    text-align: right;
    margin-right: 10px;
}

#history .mine:before {
  content: "Tu: ";
 font-weight: bold;
}

#history .theirs {
    color: #5294DC;
    margin-left: 10px;
}