.video-holder {
  position: relative;
  min-height: 40em;
  text-align: center;
  background-color: #333;
}

.subscriber,
.publisher {
  position: absolute;
}

.subscriber {
  top: 0;
  left: 0;
  width: 100%;
  height: 40em;
  z-index: 100;
}

.publisher {
    width: 70%;
    height: 70%;
    z-index: 200;
    border: 3px solid white;
    border-radius: 3px;
    top: 15%;
    left: 15%;
}

.access-success,
.access-error,
.get-customer,
.end-call {
  display: none;
}

#service-provider {
  margin-top: 80px;
}

#history .theirs:before {
 content: "Cliente: ";
 font-weight: bold;
}

.OT_subscriber .OT_video-element {
  display: none !important;
}

.OT_widget-container {
  background-color: rgba(0, 184, 255, 0.85) !important;
}

.get-customer {
    -webkit-animation: background 1s cubic-bezier(1,0,0,1) infinite;
  animation: background 1s cubic-bezier(1,0,0,1) infinite;  
}

@-webkit-keyframes background {
  0% { background-color: #2280c8; }
  33% { background-color: #0090ff; }  
  67% { background-color: #6facff; }
  100% { background-color: #bbd8ff; }
}

@keyframes background {
  0% { background-color: #2280c8; }
  33% { background-color: #0090ff; }  
  67% { background-color: #6facff; }
  100% { background-color: #bbd8ff; }
}